@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.section-p{
    padding: 2rem 8rem;
}
a{
    text-decoration: none;
}
:root{
    --first-color:#F94C10;
    --second-color:#fff;
    --black-color:#000;
}


/* HEADER */
#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../asses/images/Banner-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 2rem 8rem;

}
#header .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
   
}
.nav-logo h1{
    font-size: 2rem;
    color: var( --second-color);
    font-weight: 500;
    user-select: none;
}
.nav-logo h1 span{
    color:var(--first-color);
    font-weight: 700 !important;
}
#header .nav-items ul{
    display: flex;

}
#header .nav-items ul li {
   padding-left: 3rem;
   list-style: none;

}
#header .nav-items ul li a{
    color: var( --second-color);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 450;
}
#header .nav-items ul li a:hover{
    color: var(--first-color);
    transition: 0.2s ease;
}
.sign-up{
    background: var(--first-color);
    padding: 0.8rem 2rem;
    color: var( --second-color);
  
}
.sign-up:hover{
    color: #c2bbbb !important;
    background-color: #ac330b;
    transition: 0.3s ease;

}


/* MENUBAR */
.menubar {
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}
.menubar .menu{
    background-color:var( --second-color);
    width: 100%;
    height: .4rem;
    border-radius: 10rem;
    cursor: pointer; 
  

}


/* HOME*/
#header .main{
   
   position: absolute;
   top: 15rem;
}
#header .main h1{
    text-transform:uppercase;
    font-size: 4rem;
    font-weight: 500;
    color: var( --second-color);
}
.main .main__h1{
    font-weight: 700 !important;
    color:var(--first-color) !important;
}
.main p{
    width: 50rem;
    font-size: 1.4rem;
    color:var(--second-color);
    margin: 2rem 0;
}
.see-all{
    background-color: var(--first-color);
    color:var(--second-color);
    padding: 0.7rem 2rem;
    font-size: 1.6rem;
}
.main a:hover{
    color: #c2bbbb !important;
    background-color: #ac330b;
    transition: 0.3s ease;
}
#header .sercive-box{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 80rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.service{
    padding: 2rem 3rem;
}
.service h3{
    font-weight: 600;
    color:var(--black-color);
    font-size: 1.4em;
    margin-bottom: 1rem;
}
.service p{
    margin-bottom: 1rem;
    color: var(--black-color);
    font-size: 1.3em;
}
.service a{
    color:var(--first-color);
    font-size: 1.3em;
    font-weight: 600;
}
.sercive-box .service:nth-child(1){
    background-color: #afa8a8;
}
.sercive-box .service:nth-child(2){
    background-color: #8b8686;
}
.sercive-box .service:nth-child(3){
    background-color: #5a5959;
}


/* --------PROJECT--------- */
.project{
    background-color: #F1F1F1;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 2rem 8rem;
}
.project .row{
    height: 100%;
    margin: auto;
    display: flex;
}
.project .col{
    width: 50%;
    height: 100%;
    padding-top: 5rem;
}
.project .col h3{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.project .col p{
    font-size: 1.4rem;
    color: #5a5959;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
}
 .project .col.col-2{
    position: relative;
} 
.project .col.col-2 .image-box img{
    width: 50rem;
    height: 60rem;
}


/* ----TOP MOVE----- */
.top{
    position: fixed;
    right: 1.5rem;
    bottom: 1rem;
    display: none;
}
.hema{
    display: block;
}
.top a{
    background-color: #F94C10;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--second-color);
    border-radius: 1rem 1rem 0 0 ;
}


/* -------TREND-------- */
#trend{
    background-color: var(--first-color);
    height: 100vh;
   
}
#trend .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10rem; 
}
#trend h1{
    font-size: 3rem;
    color: var(--second-color);
    font-weight: 500;
    margin-bottom: 5rem;
}
#trend p{
    font-size: 1.3rem;
    text-align: start;
    line-height: 3rem;
    margin-bottom: 5rem;
    color: var(--second-color);
}
#trend img{
    width: 50rem;
    transition: 0.2s;
}
#trend img:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* feature */
.feature{
    width: 100%;
    height: 100vh;
    background-color: #F1F1F1;
}
.feature .row{
    padding-top: 5rem;
}
.feature .row h1{
    font-size: 2.5rem;
    font-weight: 500;
    color: #0f0e0e;
    margin-bottom: 2rem;
}
.feature .row p{
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: #0f0e0e;
}
.feature .row .boxs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20rem 20rem;
    gap: 2rem;
}
.feature .boxs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s ease-out;
}
.feature .boxs img:hover{
    transform: scale(1.1 , 1.1);
}


/* ----CONTACT---- */

.contact{
    height: 100vh;
    width: 100%;
    padding: 4rem 8rem;
}
.contact .row{
    display: flex;
}
.contact .row .col{
    width: 50%;
    height: 100%;
}
.contact .row .col img{
    width: 100%;
    height: 60rem;
    object-fit: cover;
}
.row .col-form{
    padding-left: 5rem;
}
.row .col-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--first-color);
    font-weight: 800;
}
.row .col-form p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #5a5959;
    margin: 1rem 0;
}
.row .col-form .form-box{
    display: flex;
    flex-direction: column;
}
.form-box label{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--first-color);
    padding: 1rem 0;
}
.form-box input{
    height: 4rem;
    padding: 1rem;
    border: 1px solid #777171;
    border-radius: 0.5rem;
    outline: none;
}
.form-box input:focus{
    border: 2px solid var(--first-color);
}
.form-box textarea{
    height: 15rem;
    padding: 1rem;
    margin-bottom: 1rem;
    resize: none;
    outline: none;
}
.form-box textarea:focus{
    border: 2px solid var(--first-color);
}
.form-box button{
    align-self: flex-start;
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--first-color);
    border: none;
    color: var(--second-color);
    cursor: pointer;
    transition: 0.2s ease;
}
.form-box button:hover{
    background-color: #cc3f10;
}
.contact .end{
    font-size: 1.3rem;
    text-align: center;
    padding-top: 1.7rem;
    font-weight: 500;
}
.contact .end span{
    color: var(--first-color);
    font-weight: 700;
}



/* ----media qurie----- */
@media  (max-width:1200px){
    .project .row{
        height: 100%;
        width: 100%;
    }
    .project .col.col-2 .image-box {
        text-align: center;
    }
    .project .col.col-2 .image-box img {
        width: 45rem;
        height: 53rem;
    }
    #trend img {
        width: 45rem;
    }
    .form-box label {
        padding: 0.5rem 0;
    }
}
@media  (max-width:992px){
    #header{
        padding: 2rem 5rem;
    }
    .section-p {
        padding: 2rem 5rem;
    }
    #header .sercive-box{
        width: 70rem;
    }
    .project {
        padding: 2rem 5rem;
    }
    .project .col.col-2 .image-box img {
        width: 35rem;
        height: 55rem;
    }
    .form-box textarea {
        height: 13rem;
    }
}
@media (max-width:768px){
    #header{
        width: 100%;
        padding: 2rem 0rem;
        position: relative;
    }
    .menubar {
        position: absolute;
        top: 2.5rem;
        right: 3rem;
        display: flex;
    }
    .navbar{
        flex-direction: column;
        padding: 0rem 3rem;
    }
    #header .nav-items{
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        width: 100%;
        position: absolute;
        top: 6rem;
        left: 0;
        z-index: 1;
        display: none;
    }
    #header .active{
        display: flex;
    }
     .nav-items ul {
        flex-direction:column ;
        width: 100%;

     }
     .nav-items ul li {
        padding: 1rem 0; 
     }
     .nav-items ul li:hover{
        background: rgba(119, 118, 118, 0.6);
     }
    #header .main{
        padding: 0rem 3rem;
    }
     #header .main h1 {
        font-size: 3.5rem;
    }
    #header .sercive-box{
        width: 55rem;
    }
    .service {
        padding: 2rem 2rem;
    }
    .service h3 {
        font-size: 1.3em;
        margin-bottom: 0.5rem;
    }
    .service p {
        font-size: 1.2rem;
    }
    .project {
        padding: 2rem 5rem;
    }
    .project .row{
        width: 100%;
        flex-direction: column;
    }
    .project .col{
        width: 100%;
        height: 100%;
        padding-top: 2rem;
    }
    .project .col h3 {
        font-size: 2.5rem;
    }
    .project .col.col-2 .image-box img {
        width: 35rem;
        height: 40rem;
    }
    #trend{
        width: 100%;
        height: 100%;
    }
    #trend .row {
        padding-top: 3rem;
    }
    #trend h1 {
        font-size: 2.7rem;
        margin-bottom: 3rem;
        width: 40rem;
    }
    #trend p {
        font-size: 1.3rem;
        text-align: center;
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }
    .feature .row {
        padding-top: 3rem;
    }
    .feature .row h1 {
        font-size: 2.3rem;
        width: 30rem;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
    }
    .feature .row p {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        color: #0f0e0e;
        text-align: center;
    }
    .feature {
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
    }
    .feature .row .boxs {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15rem 15rem 15rem 15rem;
    }
    .contact .row{
        flex-direction: column;
    }
    .contact .row .col{
        width: 100%;
        height: 50%;
    }
    .contact .row .col img {
        height: 100%;
    }
    .row .col-form {
        padding-left: 0rem;
    }
    .contact {
        height: 100vh;
        width: 100%;
        padding: 4rem 5rem;
    }
    .row .col-form h3 {
    margin-top: 1rem;
    }
    .form-box label {
        padding: 1rem 0;
    }
    #trend img {
        width: 40rem;
    }
}
@media (max-width:576px){
    .section-p {
        padding: 2rem 2rem;
    }
    #header .main{
        top: 12rem;
     }
    #header .main h1 {
        font-size: 3rem;
    }
    .main p {
        width: 28rem;
        font-size: 1.4rem;
        margin: 1rem 0 2rem 0;
    }
    .see-all {
        font-size: 1.3rem;
        font-size: 500 !important;
    }
    #header .sercive-box{
        width: 28rem;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem 10rem 10rem;
    }
    .service {
        padding: 1rem 3rem;
    }
    .service h3 {
        font-size: 1.3em;
        margin-bottom: 0.5rem;
    }
    .service p {
        font-size: 1rem;
    }
    .project .col h3 {
        font-size: 2rem;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
    .project {
        padding: 2rem 2rem;
    }
    .col p {
        font-size: 1.3rem;
        line-height: 2.3rem;
        margin-bottom: 2rem;
    }
    .project .col.col-2 .image-box img {
        width: 30rem;
        height: 35rem;
    }
    #trend{
        width: 100%;
        height: 100%;
    }
    #trend h1 {
        font-size: 2.4rem;
        width: 29rem;
    }
    #trend p {
        font-size: 1.3rem;
        text-align: center;
        line-height: 2.5rem;
        margin-bottom: 3rem;
    }
    #trend img {
        width: 28rem;
    }
    .feature{
        width: 100%;
    }
    .feature .row h1 {
        font-size: 2rem;
        width: 28rem;
    }
    .feature .row .boxs {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10rem 10rem 10rem 10rem;
    }
    .contact {
        padding: 2rem 2rem;
    }
    .row .col-form h3 {
        font-size: 2rem;
    }
    .row .col-form p {
        font-size: 1.5rem;
        font-weight: 500;
        color: #5a5959;
        margin: 1rem 0 0 0;
    }
    .form-box button {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .top a {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}