@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
.section-p{
    padding: 2rem 8rem;
}
a{
    text-decoration: none;
}



/* HEADER */
#header{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../asses/images/Banner-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
.nav-logo h1{
    font-size: 2rem;
    color: #fff;
    user-select: none;
}
.nav-logo h1 span{
    color: #F94C10;
}
.nav-items ul{
    list-style: none;
}
.nav-items ul li {
   display:inline-flex;
   margin-right: 2rem;

}
.nav-items ul li a{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: 500;
}
.nav-items ul li a:hover{
    color: #F94C10;
}
.sign-up{
    background: #F94C10;
    padding: 0.8rem 2rem;
    color: #fff;
    transition: 0.3s ease;
}
.sign-up:hover{
    color: #c2bbbb !important;
    background-color: #ac330b;

}

/* HOME*/
#header .main{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 80%;
}
#header .main h1{
    text-transform:uppercase;
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
}
.main .main__h1{
    font-weight: 700 !important;
    color:#F94C10 !important;
}
.main p{
    width: 50rem;
    font-size: 1.4rem;
    color: #fff;
    margin-top: 1rem;
}
.main a{
    margin-top: 1rem;
    color:#F94C10;
    font-size: 1.6rem;
}

.sercive-box{
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}
.service{
    width: 22rem;
    padding: 2rem 3rem;
}
.service h3{
    margin-bottom: 1rem;
    font-weight: 600;
    color: black;
    font-size: 1.3em;

}
.service p{
    margin-bottom: 1rem;
    color: black;
    font-size: 1.3em;
}
.service a{
    color:#F94C10;
    font-size: 1.3em;
    font-weight: 600;
}
.sercive-box-1{
    background-color: #afa8a8;
}
.sercive-box-2{
    background-color: #8b8686;
}
.sercive-box-3{
    background-color: #5a5959;
}